body {
    padding-top: 56px;
}

#main {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
}

#error, #empty_list {
    text-align: center;
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 216px;
    }

    #main {
        padding-left: 15px;
        padding-right: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 56px;
    }

    #main {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 56px;
    }

    #main {
        padding-left: 25px;
        padding-right: 25px;
    }
}
